[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "bigergm"]
	path = bigergm
	url = https://github.com/cran/bigergm
[submodule "iglm"]
	path = iglm
	url = https://github.com/corneliusfritz/iglm
